.leftVBox {
    -fx-background-color: linear-gradient(to left, rgba(121, 62, 6, 0.589), black);
}

.imageView{ /* not used */
    -fx-effect: dropshadow(gaussian, rgba(70, 34, 4, 0.473), 10, 10, 0, 0);
}

.secondVBox{
    -fx-background-color: linear-gradient(to right, rgba(121, 62, 6, 0.589), black);
}

.textField{
    -fx-background-color: transparent; /*underline effect - this line and the 2 next*/
    -fx-border-color: rgb(8, 180, 180); 
    -fx-border-width: 0 0 1 0;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(240, 137, 2);
    -fx-font-size: 16px;
}

.textField:empty {
    -fx-font-weight: normal;
}

.btn {
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-background-color: #3653F8;
    -fx-border: none;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.exitBtn {
    -fx-background-radius: 60px;
    -fx-background-color: transparent;
}

.exitHover {
    -fx-background-color: rgba(76, 228, 203, 0.479);
}

.checkStyleOn{
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0, 0, 0);
}

.form{
    -fx-background-color: rgb(43, 37, 37);
}

* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-light-grey-color: #d1d1d1;
    
	-fx-focus-color: -fx-secondary-color;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}